body {
  font-family: "Press Start 2P", cursive !important;
}

/* h1 {
  font-size: 0.8rem !important;
  text-align: center;
} */

.y-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.x-center {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (max-width: 767px) {
  .how-wide-card {
    width: 48%;
    margin: 1%;
  }

  .flexing-font-card {
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .how-wide-card {
    width: 31%;
    margin: 1%;
  }

  .flexing-font-card {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .flexing-font-card {
    font-size: 1.2vw;
  }

  .flexing-font2-card {
    font-size: 0.9vw;
  }
}
