body {
  font-family: "Press Start 2P", cursive !important;
}

/* h1 {
  font-size: 0.8rem !important;
  text-align: center;
} */

.y-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.x-center {
  margin-right: auto !important;
  margin-left: auto !important;
}
